<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Première servlet</description>
    <display-name>UserPwdServlet</display-name>
    <servlet-name>UserPwdServlet</servlet-name>
    <servlet-class>mdoc.tp1.UserPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPwdServlet</servlet-name>
    <url-pattern>/UserPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewContact</display-name>
    <servlet-name>NewContact</servlet-name>
    <servlet-class>mdoc.tp1.NewContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewContact</servlet-name>
    <url-pattern>/NewContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>mdoc.tp1.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContact</display-name>
    <servlet-name>SearchContact</servlet-name>
    <servlet-class>mdoc.tp1.SearchContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContact</servlet-name>
    <url-pattern>/SearchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>mdoc.tp1.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroup</display-name>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>mdoc.tp1.CreateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
    <url-pattern>/CreateGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>mdoc.tp1.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
</web-app>